
<div class="row">
  <div class="col-sm-6">
    <h1>Raw_images</h1>
  </div>
  <div class="col-sm-6 text-end">
  <%= link_to new_raw_image_path, class: 'btn btn-primary' do %>
    Add New Raw image
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @raw_images.each do |raw_image| %>
        <%= content_tag :tr, id: dom_id(raw_image), class: dom_class(raw_image) do %>
          <td><%= image_tag raw_image.image.variant(:thumb), class: "rounded" %></td>
          <td><%= link_to 'Show', raw_image %></td>
          <td><%= link_to 'Annotations', annotation_editor_label_raw_image_path(@label, raw_image) %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
